.footer-container{
    /* background-color: rgb(111, 250, 111); */
    background: linear-gradient(135deg, #a4f7b8, #218838);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.footer a{
    color: #bef5be;
    text-decoration: none;
    margin: 0 5px;
}

.footer a:hover{
    text-decoration: underline;
}

.social-icons{
    margin: 0 10px;
    font-size: 18px;
    color: white;
}